<div id="main-container" class="container">
	<h2>Welcome to Estefi's Battleship Game</h2>
	<div class="row">
		<a class="info-text" href='start'>Start New Game</a>
	</div>
	<div class="row">
		<label class="info-text">Game token</label>
		<input type="text" placeholder="Enter token..."></input>
		<button type="button">Resume Game</button>
	</div>
</div>