<h1>Welcome to Estefi's Battleship Game</h1>
<a href='start'>Start New Game</a>
<h3>Resume game</h3>
<label>Game token</label>
<input type="text" placeholder="Enter token..."></input>
<button type="button">Resume Game</button>